<div class="center hero-unit">
   <h1>Professionally Fit</h1>
   <h2>
      Home page for Professionally Fit
   </h2>
   <%= link_to "Sign up now!", signup_path, class: 'btn btn-large btn-primary' %>
</div>