<center>
   <h1>User Statistics Dashboard</h1>
   <h3>Number of Users</h3> <%= @user_count %>
   <h3>Average Age</h3> <%= @user_average_age %>
   <h3>Can add any summary information useful to you</h3>
</center>