<footer class="footer">
   <small>
      by Morgan Krey
   </small>
   <nav>
      <ul>
         <li><%= link_to "About", about_path %></li>
         <li><%= link_to "Contact", contact_path %></li>
         <li><%= link_to "Help", help_path %></li>
         <% if admin_user? %>
            <li><%= link_to "User Stats", stats_path %></li>
         <% end %>
      </ul>
   </nav>
</footer>